[Desktop Entry]
Type=Application
Name=Cylinter
Exec=/home/cruz/Escritorio/BMF_t-CyCIF/desktop_run/run_cylinter.sh
Icon=/home/cruz/Escritorio/BMF_t-CyCIF/desktop_run/cylinter_logo.png
Terminal=true
