[Desktop Entry]
Type=Application
Name=Napari Viewer
Exec=/home/cruz/Escritorio/BMF_t-CyCIF/desktop_run/run_napari.sh
Icon=/home/cruz/Escritorio/BMF_t-CyCIF/desktop_run/napari_logo.png
Terminal=true
